<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>The Schwab Family API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>

          <div id="profiletarget">
            <script id="profile-template" type="text/x-handlebars-template">
              <p>
                <!--put handlebars template here -->
                {{#each profile}}
                    <p> Hello, we are The Schwabs! Welcome to our API! </p>
                    <p> Our names are {{names}} .</p>
                    <p> We live in {{location}}, CA.
                    <p> What do we do for a living? We are a {{professions}},
                        respectively </p>
                    <p> We respect life and we are for peace. We are {{religiousview}}. </p>
                    <p> This is us: <img src="{{image}}" class="img-responsive" width=300px> </p>
                {{/each}}

              </p>
            </script>
          </div>

          <form="form-inline" id="getplacevisited" method="get">
            <div class="form-group">
              <label for="about-us">Get Places Visited </label>
              <input type="text" class="form-control" name="places-visited" placeholder="name, description, city">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          
        </div>
      </div>
    </div>
  </body>
</html>
